// header
$bleu : #bce0ff;

$jaune : #fbd64a;

$gris : #222222;

header{
    i{
        position: absolute;
        left: 50%;
        font-size: 2vw;
        bottom: 0%;
        transform: translateX(-50%);
        color: lighten($gris, 10%);
        transition-duration: 0.7s;
        transition-delay: 0.2s;
    }

    h1{
        font-size: 50px;
        cursor: pointer;
    }
    padding: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    width: 100%;
    height: 120px;
    color: $gris;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    box-shadow: 0px 5px 10px white;
    nav{
        text-align: center;
        margin-top: 40px;
    }

    ul{
        list-style-type: none;
    }

    li{
        font-size: 30px;
        margin-top: 30px;
        cursor: pointer;
        &::after{
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            background-color: $gris;
            margin: 0 auto 0 auto;
            transition-duration: 0.5s;
        }
        &:hover::after{
            width: 5%;
        }
    }

    &:hover{
        height: 400px;
    }

    &:hover i{
        opacity: 0;
    }

    h1::after{
        content: "";
        display: block;
        width: 10%;
        height: 1px;
        background-color: $gris;
        margin: 0 auto 0 auto;
    }
}

