$bleu : #69b0f0;

$jaune : #fbd64a;

$gris : #222222;

@import '_header.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    // background-color: $gris;
    overflow-x: none;
    overflow:none;
    user-select: none;
    font-family: 'Cormorant Garamond', serif;
}

a {
    color: black;
    text-decoration: none;

}

// Haut de page
header + h1{
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
}
p{
    text-align: center;
}

// Mise en page du formulaire

form{
    height: auto;
    width: 60vh;
    padding: 20px;
    background-color: whitesmoke;
    margin: 200px auto 200px auto;
    box-shadow: 0px 0px 15px $gris;
    border-radius: 10px;
    h1{
        text-align: center;
    }
    label{
        display: block;
    }
    input{
        border: 1.5px solid black;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 20px;
    }
    textarea{
        width: 100%;
    }
}

.picto{
    width: 50vw;
    height: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto 0 auto;

    i{
        font-size: 4vw;
    }
}

// Responsive

@media screen and (max-width : 1080px) {
    form{
        width: 90vw;
    }
    .picto{
        justify-content: space-between;
    i{
        font-size: 10vw;
    }}
}

