$bleu : #69b0f0;

$jaune : #fbd64a;

$gris : #222222;

@import '_header.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    // background-color: $gris;
    user-select: none;
    font-family: 'Cormorant Garamond', serif;
}

a {
    color: black;
    text-decoration: none;

}

header + h1{
    margin-top: 200px;
    text-align: center;
    font-size: 100px;
}

hr{
    width: 30vw;
    margin: 20px auto 50px auto;
    height: 2px;
    background-color: $gris;
}

// La galerie

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto 20px auto;
    width: 80vw;
    height: auto;

    div{
        background-image: url("/images/images-portfolio/img-portfolio1.jpg");
        background-size: cover;
        width: 500px;
        height: 400px;
        margin-bottom: 20px;
        position: relative;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        filter: brightness(0.7);
        &:hover{
            filter: brightness(1);
        }
    }
    .info{
        position: absolute;
        background-image: none;
        left: 0;
        top: 0;
        width: 100%;
        height: 10%;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 32px;
        color: $gris;
        p:nth-child(2){
            font-weight: bolder;
        }
    }

}




@media screen and (max-width : 1080px) {
    main{
        width: 100vw;
        padding: 20px;
        div{
            filter: brightness(1);
        }
    }
}
