$bleu : #69b0f0;

$jaune : #fbd64a;

$gris : #222222;

@import '_header.scss';

%button {
    margin-top: 30px;
    transition-duration: 0.5s;
    padding: 10px 20px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 2vw;
    &:hover{
        background-color: lighten($bleu, 10%);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    // background-color: $gris;
    overflow-x: none;
    overflow:none;
    user-select: none;
    font-family: 'Cormorant Garamond', serif;
}

a {
    color: black;
    text-decoration: none;
}

// Texte brut

header + h1{
    margin-top: 200px;
    text-align: center;
    font-size: 100px;
}

hr{
    width: 70vw;
    margin: 20px auto 50px auto;
}

p{
    width: 70vw;
    margin: 20px auto 50px auto;
}

// Le bouton

h3{
    @extend %button;
    width: 30vw;
    text-align: center;
    margin: 20px auto 50px auto;
    &:hover{
        background-color: $gris;
        color: whitesmoke;
    }
}

// Responsive

@media screen and (max-width : 1080px) {
    header + h1{
        margin-top: 200px;
        text-align: center;
        font-size: 50px;
    }
}