$bleu : #69b0f0;

$jaune : #fbd64a;

$gris : #222222;

@import '_header.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    // background-color: $gris;
    overflow-x: none;
    overflow:none;
    user-select: none;
    font-family: 'Cormorant Garamond', serif;
}

a {
    color: black;
    text-decoration: none;

}

%button {
    margin-top: 30px;
    transition-duration: 0.5s;
    display: inline-block;
    padding: 10px 20px;
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 2vw;
    &:hover{
        background-color: lighten($bleu, 10%);
    }
}

// Contenu principal

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 120px;
    width: 100vw;
    height: 40vw;

    // div{
    //     border: 5px solid white;
    // }
}

.agence{
    padding-left: 2%;
    background-color: $bleu;
    height: 60%;
    width: 30%;
    color: whitesmoke;
    animation-name: topleft;
    animation-duration: 1s;
    animation-delay: 1s;
    transform: translateX(-100%);
    animation-fill-mode: forwards;

    h2{
        margin-top: 30px;
        font-size: 3vw;
        color: black;
        font-weight: 700;
    }

    p{
        margin-top: 30px;
        font-size: 1.2vw;
        color: black;
    }

    h3{
        @extend %button
    }
}




.pictures{
    background-image: url("/images/img1Slide.jpg");
    background-size: cover;
    height: 60%;
    width: 70%;
    position: relative;
    transition-duration: 1s;
    animation-name: topright;
    animation-duration: 1s;
    animation-delay: 0s;

    .fleche{
        position: absolute;
        bottom: 5%;
        font-size: max(4vw);
        cursor: pointer;
        color: white;
        background-color: $gris;
        border-radius: 60%;
    }
    .fleche:nth-child(1){
        left: 35%;
    }
    .fleche:nth-child(2){
        right: 35%;
        
    }
}


.offres{
    color: white;
    text-align: center;
    background-color: $gris;
    height: 50%;
    width: 70%;
    position: relative;
    transition-duration: 1s;
    animation-name: topleft;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    transform: translateX(-100%);
    padding: 6%;

    h2{
        font-size: 2.3vw;
    }

    p{
        font-size: 1.5vw;
    }

    h3{
        @extend %button;
        &:hover{
            background-color: darken($gris, 10%);
            color: whitesmoke;
        }
    }

    .reseaux{
        background-image: none;
        height: 70%;
        width: 10%;
        left: 1%;
        top: 50%;
        transform: translateY(-40%);
        position: absolute;
        animation: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        div{
            width: 40%;
            height: 20%;
            border-radius: 50%;
            border: 2px solid whitesmoke;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2vw;
        }
    }
}

.email{

    font-style: italic;
    font-weight: lighter;
    background-color: $jaune;
    height: 50%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3vw;

    transition-duration: 1s;
    animation-name: topright;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    transform: translateX(100%);
    i{

        font-size: 5vw;
        cursor: pointer;

    }

}
i{
    cursor: pointer;
}
i:hover{
    filter: drop-shadow(0 0 0.75rem white);
}


@keyframes topleft {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}



@keyframes topright {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

//Responsive

@media screen and (max-width : 1080px) {
    main{
        height: 100vh;
    }
    .email, .offres, .pictures, .agence{
        width: 100%;
        height: 25%;
    }
}