$bleu : #69b0f0;

$jaune : #fbd64a;

$gris : #222222;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: $gris;
}

// Page header

header{
    padding: 1px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    width: 100%;
    height: 80px;
    color: $gris;
    transition-duration: 0.4s;
    transition-delay: 0.2s;
    border-bottom: 2px solid black;
    nav{
        text-align: center;
        margin-top: 40px;
    }

    ul{
        list-style-type: none;
    }

    li{
        margin-top: 15px;
        cursor: pointer;
        &::after{
            content: "";
            display: block;
            width: 0%;
            height: 1px;
            background-color: $gris;
            margin: 0 auto 0 auto;
            transition-duration: 0.5s;
        }
        &:hover::after{
            width: 5%;
        }
    }

    &:hover{
        height: 220px;
    }

    h1::after{
        content: "";
        display: block;
        width: 10%;
        height: 1px;
        background-color: $gris;
        margin: 0 auto 0 auto;
    }
}

// Contenu principal

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

div:nth-child(1){
    background-color: $bleu;
    height: 30vw;
    width: 30vw;
    color: whitesmoke;
}

div:nth-child(2){
    background-color: $jaune;
    height: 30vw;
    width: 69vw;
}

div:nth-child(3){
    background-color: $gris;
    height: 30vw;
    width: 69vw;
}

div:nth-child(4){
    background-color: $jaune;
    height: 30vw;
    width: 30vw;
}